




<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <p class="h5 my-0 me-md-auto fw-normal londrina"> <img class="batman" src="../images/batman.svg" alt="">Ticketac</p>
    <nav class="my-2 my-md-0 me-md-3">
       
      <a class="p-2 londrina" style="text-decoration: none; color: rgb(236, 45, 45);" href="#">Connection</a>
      <a class="p-2 text-dark londrina" style="text-decoration: none;" href="#">My Last Trips</a>
    </nav>
    
  </header>