body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.last-trips {
  margin-left: auto;
  margin-right: 15px;
}

.batman {
  width: 15%;
}

.londrina {
  font-family: 'Londrina Solid', cursive;

}